.editTrip {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .bi-arrow-right {
    margin-top: 20px;
  }
  .driver {
    display: flex;
    justify-content: center;
  }
  .trip {
    &__userCard {
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &-price {
        display: flex;
        white-space: nowrap;
        gap: 10px;
        align-items: center;
      }
    }
    &__header {
      height: 80px;
      z-index: 1;
    }
    &__footer-pass-count {
      align-items: center;
    }
    &__content {
      height: inherit;
    }
  }
  .form-control {
    width: fit-content;
  }
}
