.button {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 15px;
}

.button:hover {
  text-decoration: none;
  color: inherit;
}

.button:active {
  background-color: black;
  color: white;
}
