.trip-card {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
  width: 50%;
  flex-direction: row;
  place-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px auto 10px auto;
  &__datetime {
    display: flex;
    flex-direction: column;
  }
  &__route {
    display: flex;
    flex-direction: column;
  }
  &__statusLine {
    position: absolute;
    width: 100%;
    height: fit-content;
    padding: 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    right: 0;
    top: 0;
  }
}




@media (max-width: 767px) {
  .trip-card {
    width: 90%;
    
  }
    /* Стили для мобильных устройств */
}


@media (min-width: 768px) and (max-width: 1024px) {
  .trip-card {
    width: 90%;  
  }
}


@media (min-width: 1025px) and (max-width: 1440px) {
  .trip-card {
    width: 90%;  
  }
}


@media (min-width: 1441px) {
    /* Стили для больших десктопов */
}