.trip-card {
  cursor: pointer;
  width: 50%;
  flex-direction: row;
  place-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 35px;
  margin: 10px auto 10px auto;
  &__datetime {
    display: flex;
    flex-direction: column;
  }
  &__route {
    display: flex;
    flex-direction: column;
  }
  &__statusLine {
    position: absolute;
    height: 100%;
    width: 15px;
    right: 40px;
  }
}
