.trip {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d5d5d57a;
  border-radius: 20px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  box-sizing: border-box;

  &__container {
    position: absolute;
    width: 100%;
    place-items: center;
    color: black;
  }
  &__header {
    display: flex;
    position: absolute;
    text-align: start;
    place-items: flex-start;
    color: black;

    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  &__userCard-price {
    text-align: end;
  }
  &__cities {
    align-items: center;
    display: flex;
    gap: 10px;
  }
  &__participants {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    font-size: 18px;
  }
  &__footer {
    gap:5px;
    &-seats-icon {
      width: 20px;
    }
    &-count {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    &-pass-count {
      display: flex;
      gap: 5px;
    }
    &-totalPrice {
      display: flex;
      gap: 20px;
      &-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
  }
}
