.editTrip {
  width: 100%;
  height: 100%;
  .trip__content {
    height: inherit;
  }
  .trip__userCard-price {
    display: flex;
    white-space: nowrap;
    gap: 10px;
    align-items: center;
  }
  .trip__header {
    height: 60px;
    z-index: 1;
  }
  .bi-arrow-right {
    margin-top: 10px;
  }
  .driver {
    display: flex;
    justify-content: center;
  }
  .trip__userCard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .trip__footer-pass-count {
    align-items: center;
  }
  .form-control {
    width: fit-content;
  }
}
