.header {
  nav {
    z-index: 1;
    box-shadow: 0px 0px 20px black;
  }
  * {
    flex-grow: 0 !important;
    .mg-container {
      justify-content: space-between;
    }
  }
  &__logo {
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 14px 3px black;
  }
  &__logo:hover {
    transition: 0.5s;
    background-color: #c4e6fd;
  }
}
