.actions {
  gap: 10px;
  align-items: flex-end;
  &__action {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .actions {
    &__action {
      height: 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .actions {
    &__action {
      height: 50px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .actions {
    &__action {
      height: 60px;
    }
  }
}

@media (min-width: 1441px) {
  .actions {
    &__action {
      height: 60px;
    }
  }
}
