.comments {
  max-height: 45%;
  &__scrollable {
    overflow-y: auto;
    padding: 20px;
    *::-webkit-scrollbar-track {
      background: rgb(199, 222, 255);
    }
    *::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.322);
      border: 1px solid rgba(134, 134, 134, 0.534);
    }
  }
}
