.app {
  height: 100vh;
}
.loader-contain {
  width: 250px;
  height: 250px;
  background-image: url("./images/road.png");
  background-size: contain;
  position: absolute;
  left: 50%;
  bottom: 50%;
  z-index: 2;
  animation: reverseSpin 7s linear infinite;
}
.loader {
  width: 250px;
  height: 250px;
  background-image: url("./images/car.png");
  background-size: contain;

  left: 50%;
  bottom: 50%;
  z-index: 2;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverseSpin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
