.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.non-border {
  border-radius: 0;
}

.non-effects-hover:hover {
  background-color: inherit;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverseSpin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
